/* Estilos del footer */
.footer {
    background-color: #293462;
    color: white;
    padding: 2em 1em;
    text-align: center;
}

.footer-links {
    margin-bottom: 1em;
}

.social-link {
    color: white;
    text-decoration: none;
    margin: 0 0.5em;
    font-size: 1.2em;
}

.footer-info {
    font-size: 0.9em;
}

.footer-link {
    color: #d4d4d4;
    text-decoration: none;
    margin: 0 1em;
}

.footer-link:hover {
    text-decoration: underline;
}
